{% extends "base.html" %}
{% block title %} Projects{% endblock %}
{% load static %}
{% block nav %}
    {% if  user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:project_create' %}">Create project</a>
        </li>
    {% endif %}
    {% if perms.webapp.add_task %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:create_task' %}">Create task</a>
        </li>
    {% endif %}

{% endblock %}
{% block content %}
    <div class="mt-3">{% include 'partial/simple_search.html' %} </div>

    {% include 'partial/project_list_partial.html' %}

{% endblock %}

