<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create To Do List</title>
</head>
<body>
<h1>Create To Do List</h1>

<form action="/to_do_lists/add/" method="post">
    {% csrf_token %}
    <label>Description:</label><br/>
    <input type="text" name="description"/><br/>
    <label>Status:</label><br/>
    <select name="status" id="">
    {% for value, statuses in status %}
        <option value="{{value}}">{{statuses }}</option>
    {% endfor %}
    </select>
 <br/>
    <label>Date:</label><br/>
    <input name="date_of_completion" placeholder="YYYY-MM-DD"/><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>
<br/>
<a href="/">Back</a>
</body>
</html>

