{% extends "base.html" %}
{% block title %} Creat List{% endblock %}
{% block content %}
    <h1>Create To Do List</h1>
<form action=" " method="post">
    {% csrf_token %}
    <label>Description:</label><br/>
    <input type="text" name="description"/><br/>
    <label>Text:</label><br/>
    <textarea  type="text" name="text"></textarea> <br/>
    <label>Status:</label><br/>
    <select name="status" id="">
    {% for value, statuses in status %}
        <option value="{{value}}">{{statuses}}</option>
    {% endfor %}
    </select>
 <br/>
    <label>Date:</label><br/>
    <input name="date_of_completion" placeholder="YYYY-MM-DD"/><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>
<br/>
<a href="{% url "index" %}">BACK</a>

{% endblock %}
