<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ditail  view</title>
</head>
<body>
<div style="display: inline-block">
  <h1> {{ to_do_list.description}}</h1>
        <p >
            {{to_do_list.get_status_display}}
        </p>
        <p >
            {{ to_do_list.date_of_completion}}
        </p>
    <a href="/">Back</a>
</div>
</body>
</html>